/* 
    This is the CSS for the container class of the navigation bar --
    make this a flex box so that everything on the navigation bar is horizontal
*/
.container {
    display: flex; 
    justify-content: space-between;
    align-items: center; 
}

/*
    This is the CSS for the navigation bar -- nav-links is the class for the 
    navigation links to the other pages
*/
.nav-links {
    display: flex;
    list-style: none;
    gap: 20px; 
    padding: 0;
    margin: 0;
}

/*
    Add colour to the navigation bar
*/
nav {
    background-color: #000000;
    padding: 10px 20px; 
}

/*
    Add colour to the navigation bar links
*/
.nav-links a {
    color: white;
    text-decoration: none;
}

/*
    Underline the navigation bar links on hover
*/

.nav-links a:hover {
    text-decoration: underline;
}
