<!-- Coding out the navigation bar -->
<nav>
    <div class="container">
        <a href="/curiouspanda/index.html" class="logo">
            <img src="/curiouspanda/logo.png" alt="CuriousPanda Logo">
        </a>
        <ul class="nav-links">
            <li><a href="/curiouspanda/index.html">Home</a></li>
            <li class="dropdown"><a href="/curiouspanda/alevel.html">A Levels</a>
                <ul class="dropdown-content">
                    <li><a href="/curiouspanda/alevels/gp.html">General Paper</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a href="/curiouspanda/bookreview.html" class="dropbtn">Book Reviews</a>
                <ul class="dropdown-content">
                    <li><a href="/curiouspanda/bookreview/lifepurpose.html">Life's Purpose</a></li>
                </ul>
            </li>
        </ul>
    </div>
</nav>
